#container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  #instructions {
    margin-bottom: 20px;
  }
  
  #grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-bottom: 20px;
  }

  .cell, .circular {
    width: 90px;
    height: 90px;
    background-color: lightgray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  .cell.numbered {
    background-color: rgba(255, 0, 0, 0.5); /* Nuevo color cuando hay un número */
  }
  
  .circular {
    border-radius: 50%; /* Para asegurar que los casilleros existentes también sean circulares */
    background-color: rgb(189, 48, 48);
  }

  .circular.match-sum {
    background-color: lightgreen;
  }

  .invisilbe {
    display: none;
  }
  
  .number {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: lightblue;
    margin: 5px;
    cursor: pointer;
  }


.number.bounce {
  animation: bounceAnimation 0.5s ease;
}


@keyframes bounceAnimation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.number.selected {
  background-color: rgb(160, 17, 173);
}


  #textoGanaste {
    display: none;
  }