body {
  background-image: url('fondo.png'); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*#container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }*/
  #container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  #containerNumeros,
  #containerTablero {
    width: 100%;
  }

  
  @media screen and (min-width: 768px) {
    #container {
      flex-direction: row;
    }

    #containerNumeros,
    #containerTablero {
      width: 50%;
    }
  }
  
  #instructions {
    margin-bottom: 20px;
  }
  
  #grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-bottom: 20px;
  }

  .cell {
    border-radius: 20%;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
  }  

  .cell, .circular {
    width: 90px;
    height: 90px;
    background-color: lightgray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  .cell.numbered {
    background-color: rgba(255, 0, 0, 0.5); /* Nuevo color cuando hay un número */
  }

  .cell.bounce {
    animation: cellBounceAnimation 0.5s ease;
  }
  
  
  @keyframes cellBounceAnimation {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .circular {
    border-radius: 50%;
    /*background: linear-gradient(to bottom right, rgba(255, 0, 0, 0.5), rgba(53, 51, 51, 0.473));*/
    background: linear-gradient(to bottom right, rgba(255, 0, 0, 1), rgba(53, 51, 51, 1));
  }

  .circular.match-sum {
    /*background: linear-gradient(to bottom right, rgb(89, 233, 89), rgba(53, 51, 51, 0.473));*/
    background: linear-gradient(to bottom right, rgb(89, 233, 89), rgba(53, 51, 51, 1));
  }

  .invisilbe {
    display: none;
  }

  #numbers {
    display: flex;
    flex-direction: column; /* Cambia la dirección de la disposición a columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  @media screen and (max-width: 767px) {
    #numbers {
      flex-direction: row; /* Cambia la dirección de la disposición a fila */
    }
  }
  
  .number {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 20%;
    background-color: lightblue;
    margin: 5px;
    cursor: pointer;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
  }


.number.bounce {
  animation: bounceAnimation 0.5s ease;
}


@keyframes bounceAnimation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.number.selected {
  background-color: rgb(247, 5, 146);
}

#divButtonNuevojuego {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

#buttonNuevoJuego {
  width: 50%;
  height: 50px;
  background-color: rgb(161, 6, 6);
  border-radius: 10%;
  border: 2px solid transparent;
  transition: transform 0.3s ease;
}

#buttonNuevoJuego:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#buttonNuevoJuego:active {
  transform: scale(0.8);
}

#hiddenContainer {
  display: flex;
  align-content: center;
  flex-direction: column;
  display: none;
  /*display: block;*/
}

#textoGanaste {
  font-size: 40px;
  animation: fadeInOut 3s ease-in-out forwards;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
    left: -100px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

#divButtonVolverAJugar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

#buttonVolverAJugar {
  width: 50%;
  height: 50px;
  background-color: rgb(161, 6, 6);
  border-radius: 10%;
  border: 2px solid transparent;
  transition: transform 0.3s ease;
}

#buttonVolverAJugar:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#buttonVolverAJugar:active {
  transform: scale(0.8);
}

@keyframes fireworks {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.firework {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: fireworks 1s ease-out infinite;
}

@keyframes sparkle {
  0% {
    opacity: 1;
    /*background-color: #ff0000;*/
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    /*background-color: #ffff00;*/
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.sparkle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: sparkle 1s ease-out infinite;
}

